@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');
.cont{
    display: flex;
    flex-direction: row;
    width: 100%;
    height:calc(100vh - 96px);
    background-color:#01012B;
}
.leftcont{
    display: flex;
    position:relative;
    flex: 1;
    justify-content:center;
    align-items: center;    
}
.rightcont{
    display: flex;
    flex-direction: column;
    flex: 2;
    justify-content: center;
}

/* Rigth Container */

.upperrightcont{
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    flex-direction:column;
    position: relative;
    /* background-color: #005678; */
    margin: 25px;
    /* box-shadow: black 0px 15px 15px; */
    /* border-radius: 15px; */
    border-radius: 15px;
    
}
/* Upper Right Container */
.text
{   
    width:fit-content;
    font-size:large;
    position: absolute;
    top:90px;
    color:#d1f7ff;
    
}
.title
{
font-family: BlenderProBold,sans-serif;
color:#ff2a6d;
position:absolute;
top:25px;
text-shadow: 1px 1px #01012B;
}
/* Lower Right Container */

.lowerrightcont{
    position: relative;
    display: flex; 
     flex: 1;
    flex-direction:column;
    /* justify-content: center; */
    /* align-items: center; */
    margin: 25px;
    /* border-radius: 1%; */
    margin-bottom: 25px;
    margin-top: 5px;
    margin-left: 25px ;
    margin-right:25px;
    /* background-color: #005678;
    box-shadow: black 0px 15px 15px;
    border-radius: 15px; */
    border-radius: 15px;
   
    
}
.div0
{
    display:flex;
    flex:3;
    flex-direction:row;
}
.div1
{
    margin:20px;
    height:80%;
    flex:1;
    display:flex;
    background-color: rgb(197, 159, 197);
    border-radius: 10px;
    /* background: url('sponsors.jpg');
    background-size: cover; */
}
.div2
{
    margin:20px;
    display:flex;
    height:80%;
    background-color: rgb(187, 156, 187);
    flex:1;
    border-radius: 10px;
}
.div3
{
    margin:20px;
    height:80%;
    background-color: rgb(78, 72, 78);
    display:flex;
    flex:1;
    border-radius: 10px;
}
.div4
{
    height:80%;
    margin:20px;
    background-color: violet;
    display:flex;
    flex:1;
    border-radius: 10px;
}
.sponsors
{   flex:1;
    position:relative;
    top:5%;
    display: flex;
    justify-content:center;
    align-items: center;
    width: 100%;
    flex:1;
    color:#ff2a6d;
    text-shadow: #01012B 1px 1px ;
    
}
/* Left container */
.boxleft{ 
    position:absolute;
    height:100px;
    width:75%;
    left:6%;
    box-shadow: black 0px 10px 20px;
}

.boxright{ 
    position:absolute;
    height:100px;
    width:75%;
    box-shadow: black 0px 10px 20px;
    right:6%;
}
.circle2
{  
    position:absolute;
    height:100px;
    width:100px;
    left:-50px;
    top:0;
    border-radius: 50%;
    background: url('Untitled\ design\ \(1\).png');
    background-size: cover; 
    border:1px solid black; 
}
.circle4
{   
    position:absolute;
    height:100px;
    width:100px;
    left:-50px;
    top:0;
    border-radius: 50%;
    background: url('thumbsup.png');
    background-size: cover; 
    border:1px solid black; 
}
.circle1
{   
    position:absolute;
    height:100px;
    width:100px;
    right:-50px;
    top:0;
    border-radius: 50%;
    background: url('avartar.jpg');
    background-size: cover;  
    border:1px solid black;
}
.circle3
{   
    position:absolute;
    height:100px;
    width:100px;
    right:-50px;
    top:0;
    border-radius: 50%;
    background: url('question3.jpg');
    background-size: cover;  
    border:1px solid black;
}
.outerbox1
{   position:absolute;
    display: flex;
    align-items:center;
    top:0;
    height:25%;
    width:100%;
}
.outerbox2

{   position:absolute;
    display: flex;
    align-items:center;
    top:25%;
    height:25%;
    width:100%;
   
}
.outerbox3

{   position:absolute;
    display: flex;
    align-items:center;
    top:50%;
    height:25%;
    width:100%;
}
.outerbox4

{   position:absolute;
    display: flex;
    align-items:center;
    top:75%;
    height:25%;
    width:100%;
}

.categoryup
{   
    position: absolute;
    height: 50%;
    font-size:20px;
    color:black;
    color:#01012B;
}
.valuedown
{
    position: absolute;
    height: 50%;
    font-size:20px;
    color:#01012B;
}

.boxcont1
{
    position: absolute;
    width:100%;
    height:50%;
    top:0;
    background-color: #d1f7ff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.boxcont2
{
    position: absolute;
    width:100%;
    height:50%;
    bottom:0;
    /* background-color: #005678; */
    display: flex;
    justify-content: center;
    align-items: center;
}


/* .border
{   
    position: absolute;
    height:3.5px;
    background-color:black;
    width:100%;
    top:50%;
} */

/* Footer */
.footer{
    background-color: #005678;
    height: 40px;
}

 
@media (max-width: 800px) {
    .cont {
      flex-direction: column;
    }
.cont
{   
    height:400vh;

}
.leftcont
{
    flex:1;
}
.rightcont
{
    flex:2;
}
.lowerrightcont
{
    flex:1;
}
.upperrightcont
{
    flex:2;
}
.boxleft{ 
    height:80px;
}

.boxright{ 
    height:80px;
}
.circle2
{   
    height:80px;
    width:80px;
    left:-40px;
}
.circle4
{   
    height:80px;
    width:80px;
    left:-40px;
}
.circle1
{   
    height: 80px;
    width:80px;
    right:-40px;
}
.circle3
{   
    height: 80px;
    width:80px;
    right:-40px;
}
.div1
{  
    width:90%;  
    
}
.div2
{
    width:90%;
   
}
.div3
{
    width:90%;
    
}
.div4
{
    width:90%;
    
}
.div0
{   display: flex; 
    flex-direction:column;
    justify-content: center;
    /* background-color: aliceblue; */
}
.sponsors
{
    top:0;

}


}
/* color */
.giveborders{
    border-left: 2px;
    border-right: 10px;
    border-bottom: 2px;
    border-top: 2px;
    border-style: solid;
    /* border-radius: 4px; */
    border-color: #d1f7ff;
}
.givebordersl{
    border-left: 10px;
    border-right: 2px;
    border-bottom: 2px;
    border-top: 2px;
    border-style: solid;
    /* border-radius: 4px; */
    border-color: #d1f7ff;
}
.givetextcolors{
    color: #ff2a6d;
    text-shadow: 0px 0px 3px #05d9e8;
    font-family: 'Orbitron', sans-serif;
}
.giveborderslp{
    border-left: 10px;
    border-right: 2px;
    border-bottom: 2px;
    border-top: 2px;
    border-style: solid;
    /* border-radius: 4px; */
    border-color: #ff2a6d;
}
.givebordersp{
    border-left: 2px;
    border-right: 10px;
    border-bottom: 2px;
    border-top: 2px;
    border-style: solid;
    /* border-radius: 4px; */
    border-color: #ff2a6d;
}
